



.app {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: white;


}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid ;
  background-color: lightyellow;


}
.score {
  text-align: end;
  font-size: 50px;
  padding-right: 10px;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
  display: flex;
  position: relative;
}
.time{
  text-align: end;
  font-size: 50px;
  padding-right: 10px;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
  display: flex;
  position: relative;




}


  .back{
    display: flex;
    flex-direction: column;
    height: 10%;
  }




.game img {
  width: 70px;
  height: 70px;

}